docfile/tools/codeCreater/xorm/model/*

#编译的可执行文件
*.exe
*.exe~

#日志文件
*.log
nohup.out
logs

debug
.vscode/*
.idea/*
run.bat
mod.bat

__pycache__
*.pyc

vendor

config-grpc-srv/config-grpc-srv
auth/auth-srv
inventory-srv/inventory-srv
orders-srv/orders-srv
orders-web/orders-web
payment-srv/payment-srv
payment-web/payment-web
user-srv/user-srv
user-web/user-web
